img {
    height: 200px;
    width: 25%;
}

.infoconWpic
{
    display: flex;
    padding-top: 1%;
}

.infoTxtPad{
    padding-left: 1%;
}

/* Makes the Navigation Bar appear on the side of the screen instead of the topcon */
.siteSidebySide
{
    display:flex;
}
.contentSide
{
    
    padding-left: 3%;
    background-color: rgb(46, 80, 153);
}

.navBarSide{
    background-color: aqua;
}