/* Faction title Banner Image small*/
.bannerSM {
    height: 200px;
    width: 25%;
}
/* Faction title Banner Image Large*/
.bannerLG{
    height: 300px;
    width: 100%;
}

.infoconWpic
{
    display: flex;
    padding-top: 1%;
}

.infoTxtPad{
    padding-left: 1%;
}
body {
    background-color: rgb(114, 114, 114);
    /*Gets rid of the default Browser Padding*/
    margin: 0;
    padding: 0;
}
/* Makes the Navigation Bar appear on the side of the screen instead of the topcon */
.siteSidebySide
{
    display:flex;
}
.contentSide
{
    background-color: rgb(174, 254, 254);
    height: 100vh; /* Fill the viewport height */
    width: 100%; /* Fill the full width */
}


.navBarSide{
    padding-left: .5%;
    
}